# 3章の章末問題解答例

### (1) pandasのread_csvを利用する際に，日付項目をdatetime型で読み込みたい場合はどのように指定すればよいでしょうか？

In [1]:
import pandas as pd
import datetime

df = pd.read_csv('in/yakiniku_2018.csv', parse_dates=['日付'])

### (2) datetime型の日付項目から年だけを抜き出したい場合はdt.strftimeの引数に何を指定すればよいか考えてみましょう．

In [2]:
df['日付'].dt.strftime('%Y')

# 以下のようにdt.yearを利用しても可
# df['日付'].dt.year

0         2018
1         2018
2         2018
3         2018
4         2018
          ...
128350    2019
128351    2019
128352    2019
128353    2019
128354    2019
Name: 日付, Length: 128355, dtype: object

### (3) 商品ごとに集計したい場合に利用されるpandasの命令はなんでしたか？

In [3]:
# groupbyを利用
# 例えば、以下のように書くと商品名毎に単価を合計

df[['商品名', '単価']].groupby('商品名').sum()

                   単価
商品名
お冷                  0
お昼の特選盛りコース    1083600
お昼の福牛盛りコース    1599000
お祝肉ケーキ         304800
お試し盛り               0
...               ...
ＧＦサワー          177500
Ｊプレミアム塩尻メルロー    36400
Ｓとろろ                0
Ｓ芋なんこボトル            0
Ｓ芋黒丸ボトル             0

[323 rows x 1 columns]

### (4) sort_valuesで降順に並べ変えをする際には，ascending=のあとに何を指定すればよいでしょうか？

In [4]:
# 例えば、単価を降順に並び替えてみる
df.sort_values('単価', ascending=False)

,店舗ID,日付,時間,取引ID,取引明細ID,商品ID,商品名,単価,数量,支払方法,分類
95106,1,2018-11-22,214501,14974,2,627,肉ケーキワインセット,14800,1,現金,肉ワインセット
5824,1,2018-03-16,213656,1017,1,627,肉ケーキワインセット,14800,1,現金,肉ワインセット
82683,1,2018-10-16,193739,12909,1,627,肉ケーキワインセット,14800,1,現金,肉ワインセット
17873,1,2018-04-14,210524,2881,3,627,肉ケーキワインセット,14800,1,現金,肉ワインセット
24311,1,2018-05-01,212405,3897,1,627,肉ケーキワインセット,14800,1,クレジット,肉ワインセット
...,...,...,...,...,...,...,...,...,...,...,...
48443,1,2018-07-14,125336,7742,5,4203,・大判ハラミ１枚切リ,0,1,現金,肉
48444,1,2018-07-14,125336,7742,6,4205,・コーヒー,0,1,現金,ソフトドリンク
48445,1,2018-07-14,125336,7742,7,4206,・デザート,0,1,現金,デザート
6213,1,2018-03-17,191910,1088,18,5124,グラスの数は？,0,1,現金,食器
5804,1,2018-03-16,212925,1016,15,2011,飲放）オレンジ１００％,0,6,クレジット,ソフトドリンク

### (5) 公開データには4つの業態（コンビニエンスストア，スーパーマーケット，ホームセンター，薬粧店・ドラッグストア）のデータがある．集計分析を通じて業態の特徴について議論しよう． ../Chapter_5/in/datQpr.csvを利用し、例えば，業態名」と購入された「曜日」もしくは「中分類名」で購入数量を集計し，その構成比率から違いを見つけ，その背後の状況について考えてみよう．

In [6]:
df = pd.read_csv('../Chapter_5/in/datQpr.csv', parse_dates=['日付'])

# 曜日を利用する場合
df['曜日'] = df['日付'].dt.dayofweek
df_qtty = df[['業態名', '曜日', '購入数量']].groupby(['業態名', '曜日']).sum()
df_qtty['ratio'] = df_qtty[['購入数量']].groupby(
    ['業態名']).apply(lambda x: x / x.sum())

display(df_qtty)

# 中分類名を利用する場合
df_qtty = df[['業態名', '中分類名', '購入数量']].groupby(['業態名', '中分類名']).sum()
df_qtty['ratio'] = df_qtty[['購入数量']].groupby(
    ['業態名']).apply(lambda x: x / x.sum())
display(df_qtty)

                        購入数量     ratio
業態名                曜日
コンビニエンスストア         0    7175  0.138948
                   1    7867  0.152349
                   2    8524  0.165072
                   3    8011  0.155138
                   4    8002  0.154963
                   5    6079  0.117723
                   6    5980  0.115806
スーパー               0   23800  0.135114
                   1   22374  0.127018
                   2   23290  0.132218
                   3   21918  0.124429
                   4   22055  0.125207
                   5   29198  0.165758
                   6   33513  0.190255
ホームセンター、ディスカウントストア 0    3045  0.149580
                   1    2407  0.118239
                   2    2535  0.124527
                   3    2707  0.132976
                   4    2931  0.143980
                   5    3443  0.169131
                   6    3289  0.161566
薬粧店・ドラッグストア        0    3831  0.138508
                   1    3681  0.133085
                   2    3435  0.124191
                   3    3750  0.135580
                   4    3443  0.124480
                   5    4828  0.174554
                   6    4691  0.169601

                      購入数量     ratio
業態名         中分類名
コンビニエンスストア  その他日用品      80  0.001549
            その他食品     5574  0.107944
            ペット用品       16  0.000310
            加工食品     10110  0.195786
            化粧品        123  0.002382
...                    ...       ...
薬粧店・ドラッグストア 身の回り品        5  0.000181
            車両用品         6  0.000217
            飲料・酒類     3683  0.133157
            ＤＩＹ用品       14  0.000506
            ＯＴＣ医薬品類   1870  0.067609

[86 rows x 2 columns]